{% extends "package/edit.html" %}

{% block title %}Publish Dataset - {{ super() }}{% endblock %}

{% block secondary_content %}

  {{ super() }}

  <section class="module module-narrow module-shallow">
    <h2 class="module-heading"><i class="icon-info-sign fa fa-info-circle"></i>{% trans %}Publish Dataset in the FIWARE Store{% endtrans %}</h2>
    <div class="module-content">
      <p>
         FIWARE Store is the main FIWARE showcase and is the best way to sell/advertise your dataset. This form ease you the task of creaing an offering in the FIWARE Store. Just fill the following fields. Some fields are filled automatically based on the dataset but you can change their content.
      </p>
      <p>
         By publishing the dataset in the FIWARE Store, you will control the user that can access the dataset. Every time a user acquire the dataset, the list of allowed users will be updated automatically. Additionally, you can either charge users or force them to accept some legal terms for using your dataset.
      </p>
    </div>
  </section>

{% endblock %}

{% block primary_content_inner %}
    {% snippet "package/snippets/storepublisher_publish_form.html", data=c.pkg_dict, errors=c.errors, offering=c.offering %}
{% endblock %}
